@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: rgb(40, 40, 40);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

img {
  display: block;
}

.coloured-slider {
  --divider-width: 1px;
  --default-handle-width: clamp(40px, 10vw, 200px);
  --default-handle-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
  --divider-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.coloured-slider {
  transition: box-shadow 200ms ease-in-out;
}

.coloured-slider:focus {
  /* outline: none; */
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;
}

.before,
.after {
  margin: 0;
}

.before figcaption,
.after figcaption {
  background: #fff;
  border: 1px solid #c0c0c0;
  border-radius: 0.75em;
  color: #2e3452;
  opacity: 0.8;
  padding: 0.75em;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  line-height: 100%;
}

.before figcaption {
  left: 0.75em;
}

.after figcaption {
  right: 0.75em;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}
